@media screen and (max-width: 540px) {
    #hero-section {
        flex-direction: column;
        align-items: center;
    }

    #hero-section img {
        width: 100%;
    }

    #sub-hero {
        margin: 0;
        width: 100%;
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #sub-hero h1 {
        font-size: 30px;
        width: 80%;
        text-align: center;
    }
}

@media screen and (min-width: 541px) and (max-width: 1024px) {
    #sub-hero h1 {
        font-size: 30px;
        width: 80%;
    }
}

