@media screen and (max-width: 820px) {
    #navigation {
        display: none;
    }

    #shop-name {
        padding: 20px 10px;
    }
}

@media screen and (max-width: 600px) {
    #navigation {
        background-color: #C25C5C;
        gap: 0;
    }
    
    #menu {
        background-color: #C25C5C; 
    }
}