@media screen and (max-width: 600px) {
    .navigation-container {
        display: flex;
    }

    #menu-container {
        width: 75%;
    }

    .cart-container {
        display: none;
    }

    #cart-nav {
        display: flex;
    }

    section {
        font-size: 14px;
    }

    #avatar {
        width: 40px;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    .navigation-container {
        display: flex;
    }

    #menu-container {
        width: 40%;
    }

    .cart-container {
        display: none;
    }

    #cart-nav {
        display: flex;
    }

    section {
        font-size: 14px;
    }

    #avatar {
        width: 40px;
    }
}

@media screen and (min-width: 1025px) {
    .navigation-container {
        display: none;
    }
}