@media screen and (max-width: 700px) {
    #registeration-section {
        width: 100%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1024px) {
   #registeration-section {
        width: 70%;
    } 
}
