@media screen and (max-width: 600px) {
    #registeration-section {
        width: 100%;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 14px;
    }

    label {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}